extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to update
  else
    - let toastedid = toShow._id
    - let toastedItemname = toShow.Itemname
    - let toastedQuantity = toShow.Quantity
    - let toastedprice = toShow.price
  
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{toastedid}
    - let actionid = "/resource/toasted/" + toastedid
    form(id='toastedForm', action= actionid, method="PUT")
      div.form-group
          label.toastedAttr(for='type') toasted Itemname
          input#Itemname(type='text', name='type', value= Itemname )
      div.form-group
          label.toastedAttr(for='price') toasted Quantity
          input#Quantity(type='number', name='price', value= Quantity )
      div.form-group
          label.toastedAttr(for='flavor') toastedy price
          input#price(type='text', name='flavor', value= price )
      input(type="submit")

  script.
    document.forms['toastedForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update failed Syntax Error :Unexpected token V in JSON at position 10")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });